---
import Button from './Button.astro';
---
<header class="grid-lg">
    <div class="grid-sm">
        <h1 class="h1">Your Kind Of Designer</h1>
        <p class="text-muted narrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga expedita quia mollitia tempore, nisi temporibus libero ut veritatis dolore. Eaque ab quis reprehenderit alias ducimus. Voluptate error nam illum natus impedit velit. Excepturi, voluptatum, vero voluptatem quasi ducimus quos sit commodi optio molestiae officia quas dolore pariatur odio! Deserunt!</p>
    </div>
    <div class="grid-sm">
        <Button text="Contact Me" link="#" style="secondary"/>
        <small class="text-muted">No commitment contact</small>
    </div>
</header>